body {
  background: #f9f9f9; }

h1 {
  font-size: 32px; }

h3 {
  font-size: 20px; }

.lb-data .lb-caption {
  display: none !important; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lora', serif; }

.sideNav {
  position: fixed;
  top: 38%;
  padding-left: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px; }
  .sideNav h1 {
    margin-bottom: 3vw;
    font-size: 1.9vw; }
  .sideNav h3 {
    margin-bottom: 2vw;
    font-size: 1.2vw; }
  @media (max-width: 991px) {
    .sideNav {
      display: none; } }

.row {
  margin-left: 0;
  margin-right: 0; }

.artCategory {
  color: #333333;
  margin-left: 0;
  -webkit-transition: margin-left .2s;
  -o-transition: margin-left .2s;
  transition: margin-left .2s; }
  .artCategory:hover {
    cursor: pointer;
    text-decoration: none;
    color: #333333; }

.artCategory.enlarged {
  font-size: 1.2vw;
  -webkit-transition: margin-left .2s;
  -o-transition: margin-left .2s;
  transition: margin-left .2s;
  color: #18847f; }
  @media (max-width: 560px) {
    .artCategory.enlarged {
      font-size: 20px; } }

.logo {
  height: auto;
  width: 200px;
  display: block;
  margin: auto; }

.imageGrid {
  text-align: center; }
  .imageGrid .imageContainer {
    display: inline-block;
    max-width: 200px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    height: 0;
    width: 0;
    margin: 25px;
    position: absolute;
    left: -2000%;
    top: -2000%; }
    .imageGrid .imageContainer.displayed {
      display: inline-block;
      opacity: 1;
      -webkit-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s;
      height: auto;
      width: auto;
      margin: 80px;
      visibility: visible;
      position: static;
      left: auto;
      top: auto; }
  .imageGrid .solidImage {
    display: inline-block;
    width: 200px;
    height: 266px;
    background: #666;
    vertical-align: middle; }
  .imageGrid .imageLink {
    height: 100%;
    width: 100%; }
  .imageGrid img {
    height: auto;
    display: inline-block;
    height: 100%;
    width: 100%; }

.mobileNav {
  text-transform: uppercase;
  letter-spacing: 4px; }
  .mobileNav h1 {
    text-align: center;
    margin-bottom: 20px; }
  .mobileNav .phoneNumber h3 {
    margin-top: 15px; }

.mobileNavList {
  text-align: center;
  padding-left: 0; }
  .mobileNavList li, .mobileNavList h1, .mobileNavList h3 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0; }
  .mobileNavList li {
    margin-right: 1em;
    margin-bottom: 15px; }
    .mobileNavList li.contactIcons {
      display: block; }
  @media (max-width: 560px) {
    .mobileNavList h3 {
      font-size: 18px; } }

@media (max-width: 991px) {
  body {
    padding-top: 0; }
  .art {
    margin-top: 175px; }
  .row {
    margin-left: 0;
    margin-right: 0; } }

.mobileNavContainer {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding-right: 0;
  background: #f9f9f9;
  padding: 20px 0; }
  .mobileNavContainer h1 {
    margin-top: 0; }
  @media (max-width: 991px) {
    .mobileNavContainer {
      display: block; } }

.mobileNav .enlarged {
  text-indent: 0;
  margin-left: 0;
  font-size: 20px; }

.contactIcons {
  display: block; }
  .contactIcons .glyphicon-phone-alt {
    margin-right: 10px; }
  .contactIcons a {
    color: #333; }
    .contactIcons a:hover {
      cursor: pointer; }
